/* BASE : TYPO SETTINGS */

/* Reset title weight */
@for $i from 1 to 6 {
    h$(i) {
        font-weight: $fontWeightLight;
    }
}

.title {
	font-size: 2.5em;
    margin: 1em 0 0 0;

    text-align: center;
	
	&--highlight {
		font-weight: $fontWeightNormal;
	}
}

.tagline {
	margin: 0 0 1em 0;

	text-align: center;
}
	.tagline__link {
		text-decoration: none;

		transition: color $time ease-in-out;

		&:hover {
			color: map(colors, accent, base);
		}
	}