/* MODULE : SHADES */
.shades__container {
	lost-utility: clearfix;
	
	background-color: #ffffff;
}

	.shades__item {
		lost-column: 1;
	}
		.shades__color {
			position: relative;
			padding-bottom: 75%; /* 4:3 Ratio */
			
			cursor: pointer;

			&:hover {
				.shades__icon {
					opacity: 1;
				}
			}
		}
		@for $i from 1 to 50 {
			.shades__color--$(i) {
				background-color: color(#000 l(calc($(i)*2)%));
			}
		}
			.shades__icon {
				opacity: 0;

				position: absolute;
				top: calc(50% - 25px);
				right: 0;
				left: 0;
				margin: auto;
				size: 50px;

				fill: map(colors, accent, base);
				transition: top $time ease-in-out, 
							opacity $time ease-in-out;
			}
			.shades__description {
				opacity: 0;

				position: absolute;
				top: 0; bottom: 0;
				margin: auto;
				size: 100% 20px;

				text-align: center;
				color: map(colors, accent, base);
				font-weight: $fontWeightNormal;

				transition: opacity $time ease-in-out;
			}

			.js-open {
				.shades__description {
					opacity: 1;
				}
				.shades__icon {
					opacity: 1;
					top: calc(50% - 60px);
					bottom: initial;
				}
			}

	@media all and (width >= map(breakpoints, xlarge) ) {
		.shades__item {
			lost-column: 1/10;
		}
	}
	@media all and (width >= map(breakpoints, large) ) {
		.shades__item {
			lost-column: 1/5;
		}
	}
	@media all and (width >= map(breakpoints, medium) ) {
		.shades__item {
			lost-column: 1/2;
		}
	}