/* MODULE : SHADES */
.shades__container {
	lost-utility: clearfix;
	
	background-color: #ffffff;
}

	.shades__item {
		lost-column: 1;
	}
		.shades__color {
			padding-bottom: 75%; /* 4:3 Ratio */
		}
		@for $i from 1 to 50 {
			.shades__color--$(i) {
				background-color: color(#000 l(calc($(i)*2)%));
			}
		}

	@media all and (width >= map(breakpoints, xlarge) ) {
		.shades__item {
			lost-column: 1/10;
		}
	}
	@media all and (width >= map(breakpoints, large) ) {
		.shades__item {
			lost-column: 1/5;
		}
	}
	@media all and (width >= map(breakpoints, medium) ) {
		.shades__item {
			lost-column: 1/2;
		}
	}